<nav>
    <h2 class="nav-header">Click on a Rover:</h2>
    <ul>
        <% roversList.forEach((rover) => { %>
            <li><a class="nav-a" href="/<%= rover %>"><%- rover %></a></li>
        <% }) %>
    </ul>
</nav>